In [47]:
import sys
sys.path.insert(1, 'D:/github-repos/movie-recommendation-system-with-sentiment-analysis-with-nlp/src/d01_utils')
sys.path.insert(1, 'D:/github-repos/movie-recommendation-system-with-sentiment-analysis-with-nlp/data/01_raw')

In [48]:
import load_raw_data

In [49]:
file_name = 'D:/github-repos/movie-recommendation-system-with-sentiment-analysis-with-nlp/data/01_raw/movie_metadata.csv'
data = load_raw_data.load_data(file_name)

In [50]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [51]:
data['actor_3_name'].head()

0               Wes Studi
1          Jack Davenport
2        Stephanie Sigman
3    Joseph Gordon-Levitt
4                     NaN
Name: actor_3_name, dtype: object

In [52]:
import numpy as np

In [53]:
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')

In [54]:
data['actor_3_name'].head()

0               Wes Studi
1          Jack Davenport
2        Stephanie Sigman
3    Joseph Gordon-Levitt
4                 unknown
Name: actor_3_name, dtype: object

In [55]:
# get data type of genres column
data['genres']

0       Action|Adventure|Fantasy|Sci-Fi
1              Action|Adventure|Fantasy
2             Action|Adventure|Thriller
3                       Action|Thriller
4                           Documentary
                     ...
5038                       Comedy|Drama
5039       Crime|Drama|Mystery|Thriller
5040              Drama|Horror|Thriller
5041               Comedy|Drama|Romance
5042                        Documentary
Name: genres, Length: 5043, dtype: object

In [56]:
data['genres'] = data['genres'].str.replace('|', ' ')

C:\Users\alpho\AppData\Local\Temp\ipykernel_756\3923011829.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['genres'] = data['genres'].str.replace('|', ' ')

In [57]:
data['genres'].head()

0    Action Adventure Fantasy Sci-Fi
1           Action Adventure Fantasy
2          Action Adventure Thriller
3                    Action Thriller
4                        Documentary
Name: genres, dtype: object

In [58]:
data['movie_title']

0                                                 Avatar
1               Pirates of the Caribbean: At World's End
2                                                Spectre
3                                  The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
                              ...
5038                             Signed Sealed Delivered
5039                           The Following
5040                                A Plague So Pleasant
5041                                    Shanghai Calling
5042                                   My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [59]:
data['movie_title'] = data['movie_title'].str.lower()

In [60]:
data['movie_title']

0                                                 avatar
1               pirates of the caribbean: at world's end
2                                                spectre
3                                  the dark knight rises
4       star wars: episode vii - the force awakens    ...
                              ...
5038                             signed sealed delivered
5039                           the following
5040                                a plague so pleasant
5041                                    shanghai calling
5042                                   my date with drew
Name: movie_title, Length: 5043, dtype: object

In [61]:
data['movie_title'][1]

"pirates of the caribbean: at world's end\xa0"

In [62]:
data['movie_title'][2]

'spectre\xa0'

In [63]:
# removing the null terminating character at the end of the string
data['movie_title'] = data['movie_title'].str[:-1]

In [64]:
data['movie_title'][1]

"pirates of the caribbean: at world's end"

In [65]:
save_file_name = 'D:/github-repos/movie-recommendation-system-with-sentiment-analysis-with-nlp/data/02_intermediate/movie_metadata_cleaned.csv'

In [66]:
data.to_csv(save_file_name, index=False)

In [1]:
# funtion to clean meta data
def clean_movie_meta_data(file_name):
    '''Function to clean meta data
    :param file_name: path to the file'''
    import pandas as pd
    import numpy as np
    data = pd.read_csv(file_name)
    data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
    data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
    data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
    data['director_name'] = data['director_name'].replace(np.nan, 'unknown')
    data['genres'] = data['genres'].str.replace('|', ' ')
    data['movie_title'] = data['movie_title'].str.lower()
    data['movie_title'] = data['movie_title'].str[:-1]
    return data

In [2]:
file_name = 'D:/github-repos/movie-recommendation-system-with-sentiment-analysis-with-nlp/data/01_raw/movie_metadata.csv'

In [5]:
data = clean_movie_meta_data(file_name)

C:\Users\alpho\AppData\Local\Temp\ipykernel_9156\4249787530.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['genres'] = data['genres'].str.replace('|', ' ')

In [6]:
data['movie_title']

0                                                  avatar
1                pirates of the caribbean: at world's end
2                                                 spectre
3                                   the dark knight rises
4       star wars: episode vii - the force awakens    ...
                              ...
5038                              signed sealed delivered
5039                            the following
5040                                 a plague so pleasant
5041                                     shanghai calling
5042                                    my date with drew
Name: movie_title, Length: 5043, dtype: object